:host {
  display: block;
}

.status-pending{
  color: #707070; padding: 5px; border-radius: 5px;
}
.status-evaluation{
  color: #D87610; padding: 5px; border-radius: 5px;
}
.status-finished{
    color: #00946E; padding: 5px; border-radius: 5px;
}
.status-closed{
    color: #919191; padding: 5px; border-radius: 5px;
}