<section class="container">

    <p-table #dt1 [value]="actualRequests" [paginator]="true" [rows]="10" [loading]="loading"
        [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="caption">
            <div class="flex">
                    <h4 class="m-0">History Actual Expenses under Review</h4>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Search global" />
                    </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="text-center">
                <th>Project</th>
                <th>Date registrer</th>
                <th>Original Type</th>
                <th>New Type</th>
                <th>Original RP</th>
                <th>New RP</th>
                <th>Original Subaccount</th>
                <th>New Subaccount</th>
                <th>Total<br>Transaccion </th>
                <th>Total USD <br> Transaccion </th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.ProjectName }}</td>
                <td>new</td>
                <td>{{ product.LedgerType }}</td>
                <td>new</td>
                <td>RP{{ product.idrpnumber }}</td>
                <td>new</td>
                <td>{{ product.nombre_subcuenta }}</td>
                <td>new</td>
                <td>{{ product.TotalChanges }}</td>
                <td>{{ product.OriginalTotal | currency}}</td>
                <td>
                    <p-button styleClass="p-button-text p-button-secondary" icon="pi pi-eye"
                        (click)="showDialog(product)">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</section>


<p-dialog header="Header" [(visible)]="visible" [modal]="true" [draggable]="false" [maximizable]="true"
    [resizable]="false" (onHide)="hideDialog()">
    <div class="revision-content">

        <div class="grid info-sub mb-4" *ngIf="requestInfo">
            <div class="col-2">
                <small>Total Transactions</small>
                <p class="font-bold">{{ getTotalTransactions() }}</p>
            </div>
            <div class="col-2">
                <small>Type</small>
                <p class="font-bold">
                    {{ requestInfo.Original_Ledger }}
                    <i class="pi pi-angle-double-right ico-color px-3"></i>
                    <span class="new">{{ requestInfo.NewLedger || requestInfo.Original_Ledger }}</span>
                </p>
            </div>
            <div class="col-2">
                <small>RP</small>
                <p class="font-bold">
                    RP{{ requestInfo.OriginalRP }}
                    <i class="pi pi-angle-double-right ico-color px-3"></i>
                    <span class="new">RP{{ requestInfo.NewRP || requestInfo.OriginalRP }}</span>
                </p>
            </div>
            <div class="col-3">
                <small>Account</small>
                <p class="font-bold">
                    {{requestInfo.accountCapexOriginal || requestInfo.accountOpexOriginal}}
                </p>
            </div>

            <div class="col-3">
                <small>Subaccount</small>
                <p class="font-bold">
                    {{ requestInfo.conceptoCapexOriginal || requestInfo.conceptoOpexOriginal }}
                    <i class="pi pi-angle-double-right ico-color px-3"></i>
                    <span class="new">{{ requestInfo.conceptoCapexNew || requestInfo.conceptoOpexNew }}</span>
                </p>
            </div>

            <div class="col-12">
                <small class="font-bold">JUSTIFICATION</small>
                <hr class="m-0">
                <p-scrollPanel [style]="{ width: '100%', height: '150px' }" styleClass="custombar1">
                    <p>{{ requestInfo.Justification }}</p>
                </p-scrollPanel>
            </div>
        </div>
        <div class="grid">
            <div class="col-4">
                <p-table [value]="transactionDetails" [loading]="loadingTransactions" styleClass="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID Transaction</th>
                            <th>Date Payment</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </ng-template>

                  
                    <ng-template pTemplate="body" let-transaction>
                        <tr>
                            <td>{{ transaction.IdP_R_Estructurada }}</td>
                            <td>{{ transaction.CreatedDate | date: 'dd/MM/yyyy' }}</td>
                            <td class="text-right">{{ transaction.Original_Amount_USD | currency}}</td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="2" class="text-right font-bold">TOTAL</td>
                            <td class="text-right font-bold">{{ 0 }}</td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3" class="text-center">
                                <p class="p-3">No transactions available</p>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="col-8">
                <small class="font-bold">HISTORY MESSAGE</small>
                <hr>
                <p-scrollPanel [style]="{ width: '100%', height: '200px' }" styleClass="custombar1">
                    <div class="grid">
                        <div class="col-12" *ngFor="let history of historyMessages;">
                            <div>
                                <p class="font-bold">{{history.Name}} | {{history.authorizationDate | date:
                                    'dd/MM/yyyy'}} | <span>{{history.StatusNombre}}</span>
                                </p>
                            </div>

                            <p>{{history.AuthorizationComment}}</p>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</p-dialog>
