* {
    box-sizing: border-box;
}

html {
    width: 100%;
    font-size: $scale;
}

body {
    font-weight: 400;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    color: var(--text-color);
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.layout-container {
    background: var(--body-bg);


    .layout-content-wrapper {
        position: relative;
        z-index: 1;
    }
}
