<section class="container">
    <div class="flex justify-content-between">
        <!--
        <div>
            <p class="m-0">Manage and track your projects</p>
            <h3 class="m-0">Global Dashboard</h3>
        </div>
        -->
        <!--
        <div>
   <p-menu #menu [model]="items" [popup]="true"></p-menu>
                <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-angle-down" label="Download document global"
                    iconPos="right"></button>
        </div>
        -->
    </div>

    <div class="grid">
        <div class="col-12">
            <div class="card-job text-center">
                <img src="../../../../assets/layout/images/job.png" width="30%" alt="">
                <h4 class="m-0">Coming Soon: Your Global Dashboard! </h4>
                <p class="m-0">We're preparing a powerful consolidated view of your projects. Stay tuned! Meanwhile, you can manage your projects individually.</p>
                <br>
              
                <button pButton pRipple label="View Video Tutorial" class="p-button-raised" (click)="openVideo()"></button>
            </div>
        </div>
        <!--
        <div class="col-12">
            <p-tabView>
                <p-tabPanel header="Origination"></p-tabPanel>
                <p-tabPanel header="Financial Monitoring"></p-tabPanel>
                <p-tabPanel header="Commercialisation"></p-tabPanel>
            </p-tabView>
        </div>
          -->
    </div>

    <!-- <app-dashboard2 *ngIf="proyectoSelected?.idprojects"></app-dashboard2> -->
</section>