<div>
    <div class="flex">
        <div class="inline-flex">
            <h5>Actual Expenses under Review</h5>
            <p-button type="button" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"
                styleClass="p-button-text ml-3"></p-button>
            <p-menu #menu [model]="items" [popup]="true"></p-menu>
        </div>
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="handleGlobalFilter($event)" placeholder="Search global" />
        </span>
    </div>
    <p-table #dt1 [value]="actualRequests" [paginator]="true" [rows]="10" [loading]="loading"
        [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['ProjectName', 'LedgerType', 'nombre_subcuenta', 'OriginalTotal']"
        [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                <tr class="text-center">
                    <th pSortableColumn="ProjectName">Project <p-sortIcon field="ProjectName" /></th>
                    <th pSortableColumn="requestDate">Request Date <p-sortIcon field="requestDate" /></th>
                    <th pSortableColumn="LedgerType">Type <p-sortIcon field="LedgerType" /></th>
                    <th>RP</th>
                    <th pSortableColumn="nombre_subcuenta">Subaccount <p-sortIcon field="nombre_subcuenta" /></th>
                    <th pSortableColumn="TotalChanges">Selected<br>Transaccion  <p-sortIcon field="TotalChanges" /></th>
                    <th pSortableColumn="OriginalTotal">Total USD <br> Transaccion <p-sortIcon field="OriginalTotal" /></th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </ng-template>
        
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.ProjectName }}</td>
                <td>{{ product.requestDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ product.LedgerType }}</td>
                <td>RP{{ product.idrpnumber }}</td>
                <td>{{ product.nombre_subcuenta }}</td>
                <td>{{ product.TotalChanges }}</td>
                <td>{{ product.OriginalTotal | currency}}</td>
                <td>
                    <i *ngFor="let circle of getStatusCircles(product)" 
                    [pTooltip]="circle.tooltip" 
                    tooltipPosition="top"
                    class="pi pi-circle pr-2"
                    [ngClass]="circle.statusClass">
                    </i>
                </td>
                <td>
                    <p-button *ngIf="isUserAuthorizedToEvaluate(product)" 
                            styleClass="p-button-text p-button-secondary" 
                            icon="pi pi-pencil" 
                            (click)="showDialog(product)">
                    </p-button>
                    
                    <p-button *ngIf="!isUserAuthorizedToEvaluate(product)" 
                            styleClass="p-button-text p-button-secondary" 
                            icon="pi pi-eye" 
                            (click)="showDialog(product)">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!--INICIA MODAL-->

<p-dialog header="Header" [(visible)]="visible" [modal]="true" [draggable]="false" [maximizable]="true"
    [resizable]="false" (onHide)="hideDialog()">
    <div class="revision-content">

        <div class="grid info-sub mb-4" *ngIf="requestInfo">
            <div class="col-2">
                <small>Total Transactions</small>
                <p class="font-bold">{{ getTotalTransactions() }}</p>
            </div>
            <div class="col-2">
                <small>Type</small>
                <p class="font-bold">
                    {{ requestInfo.Original_Ledger }}
                    <i class="pi pi-angle-double-right ico-color px-3"></i>
                    <span class="new">{{ requestInfo.NewLedger || requestInfo.Original_Ledger }}</span>
                </p>
            </div>
            <div class="col-2">
                <small>RP</small>
                <p class="font-bold">
                    RP{{ requestInfo.OriginalRP }}
                    <i class="pi pi-angle-double-right ico-color px-3"></i>
                    <span class="new">RP{{ requestInfo.NewRP || requestInfo.OriginalRP }}</span>
                </p>
            </div>
            <div class="col-3">
                <small>Account</small>
                <p class="font-bold">
                    {{requestInfo.accountCapexOriginal || requestInfo.accountOpexOriginal}}
                </p>
            </div>
            
            <div class="col-3">
                <small>Subaccount</small>
                <p class="font-bold">
                    {{ requestInfo.conceptoCapexOriginal || requestInfo.conceptoOpexOriginal }}
                    <i class="pi pi-angle-double-right ico-color px-3"></i>
                    <span class="new">{{ requestInfo.conceptoCapexNew || requestInfo.conceptoOpexNew }}</span>
                </p>
            </div>

            <div class="col-12">
                <small class="font-bold">JUSTIFICATION</small>
                <hr class="m-0">
                <p-scrollPanel [style]="{ width: '100%', height: '150px' }" styleClass="custombar1">
                <p>{{ requestInfo.Justification }}</p>
                </p-scrollPanel>
            </div>
        </div>
        <div class="grid">
            <div class="col-4">
                <p-table [value]="transactionDetails" [loading]="loadingTransactions" 
                    styleClass="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID Transaction</th>
                            <th>Date Payment</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </ng-template>

                    <!-- AQUÍ FALTABA let-transaction -->
                    <ng-template pTemplate="body" let-transaction>
                        <tr>
                            <td>{{ transaction.IdP_R_Estructurada }}</td>
                            <td>{{ transaction.CreatedDate | date: 'dd/MM/yyyy' }}</td>
                            <td class="text-right">{{ transaction.Original_Amount_USD | currency}}</td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="2" class="text-right font-bold">TOTAL</td>
                            <td class="text-right font-bold">{{ getTotalAmount() | currency }}</td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3" class="text-center">
                                <p class="p-3">No transactions available</p>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="col-8">
                <small class="font-bold">HISTORY MESSAGE</small>
                <hr>
                <p-scrollPanel [style]="{ width: '100%', height: '200px' }" styleClass="custombar1">
                    <div class="grid">
                        <div class="col-12" *ngFor="let history of historyActualRequests">
                            <div>
                                <p class="font-bold">{{history.Name}} | {{history.authorizationDate | date: 'dd/MM/yyyy'}} | <span [ngClass]="isValidStatus(history.idstatusautho)">{{history.StatusNombre}}</span>
                                </p>
                            </div>

                            <p>{{history.AuthorizationComment}}</p>
                        </div>
                    </div>
                </p-scrollPanel>
                <hr>
                <div class="grid" *ngIf="canUserEdit">
                    <div class="col-4">
                        <span class="p-float-label">
                            <p-dropdown [(ngModel)]="optionStatusSelected" [options]="StatusAuthorizations" optionValue="StatusCode" optionLabel="StatusName" placeholder="Status">
                            </p-dropdown>
                            <label>Status</label>
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="p-float-label">
                            <textarea [(ngModel)]="justification" pInputTextarea id="float-input" rows="5" cols="30"></textarea>
                            <label for="float-input">Justification</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<ng-template pTemplate="footer">
    <div class="flex justify-content-between w-full">
        <div>
            <p-button *ngIf="canUserEdit"type="button" styleClass="p-button-danger" (onClick)="deleteRequest()" icon="pi pi-trash" label="Delete"></p-button>
        </div>
        
        <div>
            <p-button label="Cancel" styleClass="p-button-outlined" (onClick)="hideDialog()"></p-button>
            <p-button *ngIf="canUserEdit" label="Send" (onClick)="saveChanges()"></p-button>
        </div>
    </div>
</ng-template>
</p-dialog>