<section class="container">
    <div class="flex justify-content-between">
        <div class="inline-flex">
            <h4>Financial Monitoring</h4>
        </div>
        <div>
            <p-button label="Download full financial report" (onClick)="exportFullReportXLSX()"
                styleClass="p-button-outlined" class="m-1" icon="pi pi-file-excel"></p-button>
        </div>
    </div>
    <p-tabView>
        <p-tabPanel header="By accounts">
            <app-financial-tracker (evento)="recibir($event)"></app-financial-tracker>
        </p-tabPanel>
        <p-tabPanel header="By Activities">
            <app-budget-tracker (evento)="recibir($event)"></app-budget-tracker>
        </p-tabPanel>
        <p-tabPanel header="By Benefit Distribution">
            <app-supplier-tracker (evento)="recibir($event)"></app-supplier-tracker>
        </p-tabPanel>
        <p-tabPanel header="By Transaction">
            <app-by-transaction (evento)="recibir($event)"></app-by-transaction>
        </p-tabPanel>
    </p-tabView>
</section>