<section class="m-5">
    <div class="flex justify-content-center m-5">
        <div class="text-2xl ">Financial Monitoring</div>
    </div>
    <div class="flex justify-content-end">
        <p-button label="Download full financial report" (onClick)="exportFullReportXLSX()" styleClass="p-button-outlined" class="m-1" icon="pi pi-file-excel"></p-button>
    </div>
    <p-tabView>
        <p-tabPanel header="By accounts">
            <app-financial-tracker (evento)="recibir($event)"></app-financial-tracker>
        </p-tabPanel>
        <p-tabPanel header="By Activities">
            <app-budget-tracker (evento)="recibir($event)"></app-budget-tracker>
        </p-tabPanel>
        <p-tabPanel header="By Benefit Distribution">
            <app-supplier-tracker (evento)="recibir($event)"></app-supplier-tracker>
        </p-tabPanel>
        <p-tabPanel header="By Transaction">
          <app-by-transaction (evento)="recibir($event)"></app-by-transaction>
        </p-tabPanel>
    </p-tabView>
</section>