section{
    background-color: rgb(227 240 234 / 50%);
    padding: 16px 30px 0px;
}

.project-menu{
  border-top: 2px solid #e3f0ea;
    padding: 4px 0px; 
}

// Status styles
.status-live {
  background-color: #3DB87B;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  min-width: fit-content;
}

.status-evaluation {
  background-color: #D87610;
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  min-width: fit-content;
}

.status-on-hold {
  background-color: #FFC107;
  color: #333;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  min-width: fit-content;
}

.status-cancelled {
  background-color: #D1410D;
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  min-width: fit-content;
}

.status-unknown {
  background-color: #616161;
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  min-width: fit-content;
}