<section class="" *ngIf="(selectedProject$ | async)?.idprojects">
  <div class="grid border-bottom-1 border-green-50">
    <div class="col-12 md:col-6">
      <div class="flex justify-content-start">
        <div>
          <p class="m-0 font-semibold">ID PROJECT: {{ (selectedProject$ | async)?.idprojects }} | ID CAR: {{ (selectedProject$ | async)?.Id_ProyectoCAR }}</p>
          <h5>{{ (selectedProject$ | async)?.ProjectName }}</h5>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="flex justify-content-end align-items-center gap-3">
        <div class="text-center">
          <small class="block">STATE</small>
          <p class="m-0 font-semibold text-sm">{{ (selectedProject$ | async)?.Estado }}</p>
        </div>
        <div class="text-center">
          <small class="block">AGGREGATION</small>
          <p class="m-0 font-semibold text-sm">{{ (selectedProject$ | async)?.Aggregation }}</p>
        </div>
        <div class="text-center">
          <small class="block">MUNICIPALITY</small>
          <p class="m-0 font-semibold text-sm">{{ (selectedProject$ | async)?.Municipio }}</p>
        </div>
        <div class="text-center">
          <small class="block">CORE</small>
          <p class="m-0 font-semibold text-sm">{{ (selectedProject$ | async)?.NucleoAgrario }}</p>
        </div>
        <div class="text-center">
          <small class="block">KIND OF PROPERTY</small>
          <p class="m-0 font-semibold text-sm">{{ (selectedProject$ | async)?.TipoPropiedad }}</p>
        </div>
        <div class="text-center">
          <small class="block">STATUS</small>
          <p class="m-0 font-semibold">
            <span [class]="getStatusClass((selectedProject$ | async)?.IdpstatusProject || (selectedProject$ | async)?.Status || 0)">
              {{ getStatusText((selectedProject$ | async)?.IdpstatusProject || (selectedProject$ | async)?.Status || 0) }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <p-menubar [model]="items"></p-menubar>
  </div>
</section>