<section class="" *ngIf="(selectedProject$ | async)?.idprojects">
  <div class="grid">
    <div class="col-12 md:col-4">
                <h5>{{ (selectedProject$ | async)?.ProjectName }}</h5>
    </div>
    <div class="col-12 md:col-8">
      <div class="flex justify-content-end align-items-center gap-3">
        <div class="text-center">
          <p class="m-0 font-bold">{{ (selectedProject$ | async)?.idprojects }}</p>
          <small class="">ID Project</small>
        </div>
        <div class="text-center">
          <p class="m-0 font-bold">{{
            (selectedProject$ | async)?.Id_ProyectoCAR }}</p>
          <small class="">ID CAR</small>
        </div>
        <div class="text-center">
          <p class="m-0 font-bold">{{ (selectedProject$ | async)?.Estado }}</p>
          <small class="">State</small>
        </div>
        <div class="text-center">
          <p class="m-0 font-bold">{{ (selectedProject$ | async)?.Aggregation }}</p>
          <small class="">Aggregation</small>
        </div>
        <div class="text-center">
          <p class="m-0 font-bold">{{ (selectedProject$ | async)?.Municipio }}</p>
          <small class="">MUnicipality</small>
        </div>
        <div class="text-center">
          <p class="m-0 font-bold">{{ (selectedProject$ | async)?.NucleoAgrario }}</p>
          <small class="">Core</small>
        </div>
        <div class="text-center">
          <p class="m-0 font-bold">{{ (selectedProject$ | async)?.TipoPropiedad }}</p>
          <small class="">Kind of Property</small>
        </div>
        <div class="text-center">
          <p class="m-0 font-bold">
            <span
              [class]="getStatusClass((selectedProject$ | async)?.IdpstatusProject || (selectedProject$ | async)?.Status || 0)">
              {{ getStatusText((selectedProject$ | async)?.IdpstatusProject || (selectedProject$ | async)?.Status || 0)
              }}
            </span>
          </p>
          <small class="block">Status</small>
        </div>
      </div>
    </div>
  </div>
  <div class="project-menu">
    <p-menubar [model]="items"></p-menubar>
  </div>
</section>